.home {
  position: fixed;
}

.box {
  position: fixed;
  padding: 10rem;
  background-color: #3D59FA;
  display: flex;
}

.boxText {
  color: white;
  font-size: 30px;
  padding: 6.5rem;
  margin-left: -10%;
  margin-right: 25%;
  text-align: left;
}

.boxText h1 {
  font-size: 50px;
  font-weight: 600;
}

.boxText p {
  font-size: 16px;
}

.boxText button {
  margin-top: 10px;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #FFBB00;
  color: white;
  border-radius: 5px;
  transition: backg1round-color 0.3s, color 0.3s;
  border: 1px solid transparent;
  position: relative;
  outline: none;
  cursor: pointer;
}

.boxText button:hover {
  background-color: #3D59FA;
  border: none;
}

.box img {
  position: absolute;
  top: 15%;
  left: 59.4%;
  width: 63rem;
  height: auto;
}

/* Larger screens (tablet) */
@media (max-width: 1200px) {

    .box {
      position: fixed;
      left: 0;
      width: 100%; /* Ocupar toda a largura disponível */
      height: 100%; /* Ocupar toda a altura disponível */
      display: flex;
      flex-direction: column; /* Alinhar o conteúdo verticalmente */
      justify-content: flex-start; /* Alinhar o conteúdo no topo */
      align-items: center;
      padding: 2rem; /* Ajustar o preenchimento conforme necessário */
    }
  
    .boxText {
      padding: 1rem;
      margin: 0 auto; /* Centralizar horizontalmente */
      text-align: center;
      left: 10%;
      width: 75%; /* Preencher toda a largura disponível */
      height: auto;
    }
  
    .boxText h1{
      margin-top: 5%;
      font-size: 37px; /* Reduzir o tamanho da fonte para melhorar a legibilidade */
      width: 100%; /* Preencher toda a largura disponível */

    }
    .boxText h1,
    .boxText p,
    .boxText button {
        height: auto;
    }
    
  
  .boxText p {    
    font-size: 14px; /* Reduzir o tamanho da fonte para melhorar a legibilidade */
    margin-top: 15%;
    width: 100%; /* Preencher toda a largura disponível */
  }
  
  .boxText button {
    font-size: 16px; /* Reduzir o tamanho da fonte para melhorar a legibilidade */
  }
  
  .box img {
    margin-top: 25%;
    left: 11%;
    width: 75%; /* Preencher toda a largura disponível */
    height: auto;
  }
}

@media (max-width: 820px) {

  .box {
    position: fixed;
    left: 0;
    width: 100%; /* Ocupar toda a largura disponível */
    height: 100%; /* Ocupar toda a altura disponível */
    display: flex;
    flex-direction: column; /* Alinhar o conteúdo verticalmente */
    justify-content: flex-start; /* Alinhar o conteúdo no topo */
    align-items: center;
    padding: 2rem; /* Ajustar o preenchimento conforme necessário */
  }

  .boxText {
    padding: 1rem;
    margin: 0 auto; /* Centralizar horizontalmente */
    text-align: center;
    left: 10%;
    width: 75%; /* Preencher toda a largura disponível */
    height: auto;
  }

  .boxText h1{
    margin-top: 5%;
    font-size: 37px; /* Reduzir o tamanho da fonte para melhorar a legibilidade */
    width: 100%; /* Preencher toda a largura disponível */

  }
  .boxText h1,
  .boxText p,
  .boxText button {
      height: auto;
  }
  

.boxText p {    
  font-size: 14px; /* Reduzir o tamanho da fonte para melhorar a legibilidade */
  margin-top: 15%;
  width: 100%; /* Preencher toda a largura disponível */
}

.boxText button {
  font-size: 16px; /* Reduzir o tamanho da fonte para melhorar a legibilidade */
}

.box img {
  margin-top: 25%;
  opacity: 25%;
  left: 11%;
  width: 75%; /* Preencher toda a largura disponível */
  height: auto;
}

}
