* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    outline-width: 0px;
  }

.NavBar {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.Text {
    margin-bottom: 1rem;
    text-align: center;
}


ul {
    display: table;
    width: 100%;
    text-align: right; /* Alinha todo o conteúdo à direita */
    margin-right: 18vh;
  }

  ul li {
    text-decoration: none; /* Remove o sublinhado dos links */
    font-size: 18px;
    padding: 2px 15px; 
    display: inline-block; /* visual do link */ 

}
.links_list a{
    text-decoration: none; 

}

.links_list  a:hover {
    color: red;
}
.links_list a.active {
    color: red;
}

.activeIndication {
    opacity: 1; /* Exibe o indicador de ativação */
    visibility: visible; /* Torna o indicador visível */
    height: 0; /* Remove a altura do elemento para que não afete o layout */
    margin: 0; /* Remove margem para evitar espaçamento */
    transition: opacity 0.3s; /* Adicione uma transição suave */
}

.hiddenIndication {
    opacity: 0; /* Oculta o indicador de ativação */
    visibility: hidden; /* Torna o indicador invisível */
    height: 0; /* Remove a altura do elemento */
    margin: 0; /* Remove margem */
    transition: opacity 0.3s; /* Adicione uma transição suave */
}

.brand {
    flex: 1; /* Ocupa o espaço disponível, empurrando o botão para a direita */
    display: flex;
    align-items: center;
}

.brand img {
    margin-left: 40%;
    margin-bottom: 1vh;
    width: 15em;
    height: auto;
}

.menuIcon1 {
    width: 15px;
    position: relative;
    right: 0.2rem;
}

.menuIcon2 {
    width: 15px;
    position: relative;
    right: 0.2rem;

}


.selectedIndicator {
    font-size: 1em;
    color: red;
}

.menuIcon3 {
    width: 15px;
    position: relative;
    right: 0.2rem;

}

.social {
    display: flex;
    margin-left: -8%;
    margin-right: 9%;
    margin-bottom: 2.2vh;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.social:hover {
    color: red;
}

.menuIcon1:after {
    content: '';
    width: 25px;
    height: 2px;
    margin-left: 50%;
    
    background-color: #333;
    position: absolute;
    transition: 0.3s;
  }
.menuIcon2:after {
    content: '';
    width: 25px;
    margin-bottom: 5%;
    margin-left: 50%;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: 0.3s;
  }
.menuIcon3:after {
    content: '';
    width: 25px;
    margin-left: 50%;
    top: -6%;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: 0.3s;
  }

  
.menuButton {
    display: none;
}



@media screen and (max-width: 1200px) {
    

    .NavBar {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vh;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    .social {
        display: flex;
        margin-left: -6.5vh;
        margin-top: -2vh;
        margin-bottom: 0;
        margin-right: 7.5vh;
        font-size: 1.1rem;
        font-weight: bold;
        color: #777777;
    }

    .brand img {
        display: block;
        width: 15em;
        max-width: 100%;
        height: auto;
        width: 15em;   
        margin-left: 5%;
        margin-bottom: 1vh;
        width: 15em;
        height: auto;
    }

    .menuButton {    
        display: block;
        background: none;
        border: 1px solid #000; 
        cursor: pointer;
        right: 7vh;
        bottom: 1vh;
        width: 3rem;
        height: 3rem;
        position: relative;
        transition: 0.3s;
    }
 

    .links_list {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        width: 100%;
    }
    
    .links_list li {
        text-decoration: none;
        border-bottom: 1px solid #000;
        padding-bottom: 6px;
        display: flex; /* Use flex to align items horizontally */
        text-align: left; /* Alinha o conteúdo das <li> à esquerda */
    }
    
    .links_list li a {
        display: flex;
        align-items: flex-start;
        padding: 1em 2em;
        width: 100%; 
    }
    
    .showMenu {
        display: flex !important;
    }
   
    .menuIcon1Active{
        transform: rotate(45deg); /* Aplica uma rotação de 45 graus ao elemento */
        transition: transform 0.3s ease; 
        bottom: 35%;
        left: 10%;
    }
    .menuIcon2Active{
        transform: rotate(-45deg); /* Aplica uma rotação de 45 graus ao elemento */
        transition: transform 0.3s ease; 
        left: 5%;
        top: 25%;

    }
    
    .menuIcon3Active{
        opacity: 0;

    }

    .menuIcon1Back{
        transition: transform 0.3s ease; 
        bottom: 20%;
    }
    .menuIcon2Back{
        top: 15%;
        margin-right: 20rem;
        transition: transform 0.3s ease; 
    }
    .menuIcon3Back{
        transition: opacity 0.3s; /* Adiciona uma transição de 0.3s para a propriedade opacity */
    }
    
    .activeIndication {
        display: none;    
    }
}

@media (max-width: 820px) {
    .NavBar {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5vh;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    .social {
        display: flex;
        margin-left: -3%;
        margin-bottom: -20%;
        margin-right: 4%;
        font-size: 1.1rem;
        font-weight: bold;
        color: #777777;
    }


    .brand img {
        display: block;
        width: 15em;
        max-width: 100%;
        height: auto;
        width: 15em;   
        margin-left: 5%;
        margin-bottom: 1vh;
        width: 15em;
        height: auto;
    }

        
    


    .menuButton {    
        display: block;
        background: none;
        border: 1px solid #000; 
        cursor: pointer;
        right: 7vh;
        bottom: 1vh;
        width: 3rem;
        height: 3rem;
        position: relative;
        transition: 0.3s;
    }
 

    .links_list {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        width: 100%;
    }
    
    .links_list li {
        text-decoration: none;
        border-bottom: 1px solid #000;
        padding-bottom: 6px;
        display: flex; /* Use flex to align items horizontally */
        text-align: left; /* Alinha o conteúdo das <li> à esquerda */
    }
    
    .links_list li a {
        display: flex;
        align-items: flex-start;
        padding: 1em 2em;
        width: 100%; 
    }
    
    
    
    
    

    .showMenu {
        display: flex !important;
    }


    
    .menuIcon1Active{
        transform: rotate(45deg); /* Aplica uma rotação de 45 graus ao elemento */
        transition: transform 0.3s ease; 
        bottom: 35%;
        left: 10%;
    }
    .menuIcon2Active{
        transform: rotate(-45deg); /* Aplica uma rotação de 45 graus ao elemento */
        transition: transform 0.3s ease; 
        left: 5%;
        top: 25%;

    }
    
    .menuIcon3Active{
        opacity: 0;

    }

    .menuIcon1Back{
        transition: transform 0.3s ease; 
        bottom: 20%;
    }
    .menuIcon2Back{
        top: 15%;
        margin-right: 20rem;
        transition: transform 0.3s ease; 
    }
    .menuIcon3Back{
        transition: opacity 0.3s; /* Adiciona uma transição de 0.3s para a propriedade opacity */
    }
    
    .activeIndication {
        display: none;    
    }
}