.NavBar {
    background-color: #fff;
    display: flex;
    box-shadow: rgba(255, 255, 255, 0.15) 0px -2px 10px 0;
    justify-content: space-between;
    align-items: center;
    padding: 1.9em 2em;
    border-bottom: .2rem solid #000000;

    /* Adicione as seguintes propriedades para fixar o navbar */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Um valor alto para garantir que o navbar fique acima de outros elementos */
}



.brand {
    color: #4D4E4E;
    font-size: 1.2em;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
    color:#4D4E4E;
}

.links_list {  
    font-family: "Nunito";
    display: flex;
    list-style: none;
}

.links_list {
    
    margin-right: 5em;
    text-decoration: none;
    font-size: 1rem;
}

.links_list li a {
    
    padding: .4em .6em;
    
    text-decoration: none;
}

.active {
    color: #ef3d44;
    list-style: none;
    text-decoration: none;

}
.notActive {
    color: #4D4E4E;
    list-style: none;
    text-decoration: none;

}

.active2 {
    color: #ef3d44;
}

.Text {
    text-align: center;
    color: #ef3d44;
}