body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


form {
  max-width: 40%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span {
  margin-bottom: .3em;
  font-weight: bold;
  text-align: left;
}

input, textarea{
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: .8em 0;
  background-color: transparent;
}


textarea::placeholder {
  color: #AAA;
}




.btn.btn-dark {
  background-color: #000;
  border-radius: 0;
}

.btn.btn-outline {
  background-color: transparent;
  border-radius: 0;
  color: black;
  border: 1px solid black;
  padding: 7px 30px;
}




.btn.btn-outline:hover {
  background-color: black;
}

.btn.btn-danger:hover {
  background-color: #dc3545;
}

button[disabled] {
  background-color: #AAA;
}

.container .error {
  color: #721c24;
  background-color: #F8D7DA;
  border: 1px solid #F5C6C8;
  padding: 5px;
  border-radius: 5px;
}